body {
	font-family: 'Open Sans', sans-serif;
}

#header {
	position: fixed;
	display: block;
	background-color:#25316B;
	color:white;
	width: 100%;
	top: 0px;
	margin: 0px;
}

#header .container {
	margin-left: 30px;
	margin-right: 30px;
	padding: 0;
}

#header h2 {
	font-weight:normal;
}

#breadcrumb {
	background-color:#7879C4;
	
}

#breadcrumb .breadcrumb {
	background-color:#7879C4;
	padding: 8px 0px 8px;
	margin-bottom:0px;
	margin-left: 30px;
	margin-right: 30px;
}

#breadcrumb .breadcrumb li, #breadcrumb .breadcrumb a {
	text-shadow:none;
	color:white !important;
}

#content {
	margin: 30px;
	padding-right: 230px;
	padding-top: 110px;
}

#content .gutter {
	background-color:#7879C4;
	min-height:1000px;
	width:35px;
}

nav {
	position: fixed;
	width: 200px;
	right: 30px;
	display: inline-block;
	padding-top: 120px;
}

article {
	margin-top:40px;
}

article header {
	background-color:#494545;
	color:white;
	width:300px;
	text-align:center;

}

article header h3 {
	margin-top:0px;
	margin-bottom:0px;
}

article .article-body {
	margin-left:30px;
	border:thin lightgrey solid;
	padding:10px;
}

.nav {
	margin-top:30px;
}

.main-link {
	font-weight:bold;
}
